body {
    font-family: Nunito, sans-serif;
}

a {
    text-decoration: none;
}

#navlinks {
    justify-content: flex-end;
}

.navbar-brand {
    font-size: 1.5em;
    font-weight: 500;
}

#navi .nav-item {
    border-left: 2px solid white;
    border-top-right-radius: 0.1em;
    border-bottom-right-radius: 0.1em;
    transition: all 0.5s ease-in;
}

#navi .nav-link {
    font-size: 1.3em;
    margin: 0 50px;
    color: white;
    font-weight: 300;
    transition: all 0.5s ease-in;

}

#navi .nav-link:hover {
    color: rgba(255, 255, 255, 0.809);
}

#navi .nav-item:hover {
    background-color: #518eff;
}

#navi {
    background-color: #3b7fff;

}

footer {
    padding: 20px;
    background-color: #3b7fff;
    font-size: 14px;
}

footer a {
    text-decoration: none;
    color: #fff;
    padding: 30px 25px;
}

h4 {
    color: #fff;
    padding: 20px 0px;
    font-size: 14px;
    border-right: 2px solid #fff;
}

.index-smcard {
    background-color: #518eff;
    color: white;
}

.index-smcard a {
    text-decoration: none;
    color: white;
    text-decoration: dashed;

}

.title h1 {
    text-align: right;
    color: #397efd;
}

.cardhead {
    text-align: center;
    color: #518eff;
}

.card {
    background-color: #518eff;
}

.card .col-5 {
    background-color: white;
    border-radius: 1em;
}

.titlefirst {
    color: #3b7fff;
}

.titlesec {
    color: white;
}

.card ul {
    text-align: center;
    list-style-type: none;
}